<div id="wrapper">
  <header>
    <div class="clearfix">
    <h2 class="title">Milk time</h2>
      <div class="mbutton">
        <a href="/milktimes" class="myButton">TOPへ</a>
      </div>
    </div>
  </header>

  <div id="container">
    <h3>入力完了！</h3>
    <div class="btnbox">
      <a class="btn2" href="/milktimes">TOPへ戻る</a>
    </div>
  </div>
</div>