<div id="wrapper">
<header>
  <div class="clearfix">
  <h2 class="title">Milk time</h2>
    <div class="mbutton">
      <a href="/milktimes/new" class="myButton">入力する</a>
    </div>
  </div>
</header>

<div id="container">
  <% @milkts.each do |milkt| %>
  <div id="column1">
      <div class="clearfix">
        <img src="https://s3.amazonaws.com/misetemoraouka/babycon.png" alt="ベビーアイコン" class="baby-icon">
        
        <div class="kotei">
          <div><p>分　量：</p><p><%= milkt.milk %></p></div>
          <div><p>時　間：</p><p><%= milkt.created_at %></p></div>
          <div><p>おむつ：</p><p><%= milkt.nappy %></p></div>
          <div class="kotei-text"><p>その他：</p></div>
          <div class="kotei-text"><%= simple_format(milkt.text) %></div>
        </div>
      </div>
  </div>
  <% end %>
</div>
</div>